<header>
            <h1>Welcome to Nguyen Quoc Anh </h1>
            <img src="/img/logo.png" alt="logo" style="height:300px ;width:400px">
        </header>
<h2>Welcome</h2>

<p>Welcome to register</p>
<ul>
    <li><a href="/dangky">CLICK TO REGISTER</a>.</li>
    
</ul>


</p>